@media screen and (max-width: 500px) {

   #container {

        h1 {
            font-size: 150%;

        } 

        p {
            height: auto;
            font-size: 80%;
            padding: 0 25px;

        }
   }
   
    .form-input {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 0 20px;

            label {
                text-align: center;
                width: 100%;
                margin-bottom: 5px;
            }
        
            input {
                width: 100%;
            }
   }

   #floor-type {
       height: auto;
       flex-direction: column;
       align-items: center;

        div {
            margin-bottom: 10px;
        }
   }

   
   #results, #total-area {
       font-size: 80%;
   }
    
}

@media screen and (max-width: 325px) {
   
    #container {
 
         h1 {
            
            font-size: 80%;
         } 
         
         input {
             width: 100%;
         }
    }
}